USE [master]
GO
/****** Object:  Database [BD_LEGO_JulienCyr]    Script Date: 02/06/2015 21:09:14 ******/

DECLARE @kill varchar(8000) = '';  
SELECT @kill = @kill + 'kill ' + CONVERT(varchar(5), session_id) + ';'  
FROM sys.dm_exec_sessions
WHERE database_id  = db_id('BD_LEGO_JULIENCYR')

EXEC(@kill);
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'BD_LEGO_JulienCyr')
		DROP DATABASE [BD_LEGO_JulienCyr]
		

CREATE DATABASE [BD_LEGO_JulienCyr] ON  PRIMARY 
( NAME = N'BD_LEGO_JulienCyr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BD_LEGO_JulienCyr.mdf' , SIZE = 53504KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_LEGO_JulienCyr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BD_LEGO_JulienCyr_log.LDF' , SIZE = 478464KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_LEGO_JulienCyr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
IF NOT EXISTS(SELECT * FROM sys.symmetric_keys WHERE symmetric_key_id = 101)
		CREATE MASTER KEY ENCRYPTION BY PASSWORD = 'jkljkl1197!'
GO
CREATE CERTIFICATE password WITH SUBJECT = 'password de utilisateur';
GO
CREATE SYMMETRIC KEY UserPasswor_Key11
	WITH ALGORITHM = AES_256
	ENCRYPTION BY CERTIFICATE password;


GO
OPEN SYMMETRIC KEY UserPasswor_Key11
		DECRYPTION BY CERTIFICATE password;
UPDATE connexion SET password = ENCRYPTBYKEY(KEY_GUID('UserPasswor_Key11'),
connexion.password,1, HASHBYTES('SHA1', CONVERT(VARCHAR,password)));
GO
OPEN SYMMETRIC KEY UserPasswor_Key11 DECRYPTION BY CERTIFICATE password
GO
/*ALTER DATABASE [BD_LEGO_JulienCyr] SET TRUSTWORTHY OFF*/
GO
/*ALTER DATABASE [BD_LEGO_JulienCyr] SET HONOR_BROKER_PRIORITY OFF*/
GO
/*ALTER DATABASE [BD_LEGO_JulienCyr] SET DB_CHAINING OFF*/
GO
USE [BD_LEGO_JulienCyr]
GO
/****** Object:  Table [dbo].[sets]    Script Date: 02/06/2015 21:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sets](
	[set_id] [varchar](50) NOT NULL,
	[year] [varchar](50) NULL,
	[pieces] [varchar](50) NULL,
	[t1] [varchar](250) NULL,
	[descr] [varchar](250) NULL,
 CONSTRAINT [PK_sets] PRIMARY KEY CLUSTERED 
(
	[set_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

GO
CREATE TABLE [dbo].[set_pieces](
	[set_id] [varchar](50) NOT NULL,
	[piece_id] [varchar](50) NOT NULL,
	[num] [int] NOT NULL,
	[color] [int] NOT NULL,
	[type] [tinyint] NOT NULL,
)
GO

CREATE TABLE [dbo].[inventaire](
	[set_id] [varchar](50) NOT NULL,
	[piece_id] [varchar](50) NOT NULL,
	[NbrPieces] [varchar](50) NOT NULL,
)
GO


CREATE TABLE dbo.setstemps(
    [set_id] [varchar](50) NOT NULL,
	[year] [varchar](50) NULL,
	[pieces] [varchar](50) NULL,
	[t1] [varchar](250) NULL,
	[descr] [varchar](250) NULL,
)

CREATE TABLE dbo.piecetemps (
	[piece_id] [VARCHAR](50)  NOT NULL,
	[descr]    [VARCHAR](250) NULL,
	[category] [VARCHAR](250) NULL,
)


CREATE TABLE [dbo].[piece](
	[piece_id] [varchar](50) NOT NULL,
	[descr] [varchar](250) NULL,
	[category] [varchar](250) NULL,
 CONSTRAINT [PK_pieces] PRIMARY KEY CLUSTERED 
(
	[piece_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE connexion (
	id int IDENTITY(1,5) not null,
	users VARCHAR(30) not null,
	password VARCHAR(50) not null,
	type CHAR(1) not null DEFAULT 'U',
	CONSTRAINT [Pk_id] PRIMARY KEY CLUSTERED (
	 [id] ASC
	)
)
INSERT INTO connexion VALUES ('Julien','qwerty','A'),('Mathieu','popy','U');
SELECT * FROM connexion

GO
CREATE TABLE [dbo].[colors](
	[id] [int] NOT NULL,
	[descr] [varchar](250) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF

GO


GO